<img src="logo2.png"></img>

# Final Challenge Leaderboard

Thank you to everyone who submitted their code to the final challenge!<br/>
The following shows final standings of contestants who submitted their code to the final challenge (2019/10/23 16:00 JST) <br/>
*(Note: All code has been verified by judges and scores are finalized. Their decision will be final and no further discussions will be held.)*

## **Congratulations to the winners!**

**A note on the awards:** In addition to the first, second and third place winners, we want to recognize a few teams with **Special Oracle Awards**. These teams didn't qualify for winning the main competition, nevertheless came up with a very creative oracle design to solve the problem.

<table border="1" class="dataframe" width="100%">
  <thead>
    <tr style="text-align: right;">
      <th>ranking</th>
      <th>team_name</th>
      <th>status</th>
      <th>cost</th>
      <th>number_of_submission</th>
      <th width="40%">message</th>
    </tr>
  </thead>
  <tbody>    
    <tr>
      <td>1st Place</td>
      <td>Whit3z</td>
      <td>pass</td>
      <td>16613</td>
      <td>15</td>
      <td>congratulations on winning 1st place in the challenge!</td>
    </tr>
    <tr>
      <td>2nd Place</td>
      <td>QunaVillage</td>
      <td>pass</td>
      <td>17053</td>
      <td>3</td>
      <td>congratulations on winning 2nd place in the challenge!</td>
    </tr>
    <tr>
      <td>3rd Place</td>
      <td>IIQ@QIC</td>
      <td>pass</td>
      <td>25490</td>
      <td>3</td>
      <td>congratulations on winning 3rd place in the challenge!</td>
    </tr>
    <tr>
      <td>4</td>
      <td>DokiDokiQuantumClub</td>
      <td>pass</td>
      <td>27656</td>
      <td>6</td>
      <td>congratulations on getting the correct answer!</td>
    </tr>
    <tr>
      <td>5</td>
      <td>42Robotics</td>
      <td>pass</td>
      <td>28497</td>
      <td>9</td>
      <td>congratulations on getting the correct answer!</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Toffoli_Pizza</td>
      <td>pass</td>
      <td>28699</td>
      <td>3</td>
      <td>congratulations on getting the correct answer!</td>
    </tr>
    <tr>
      <td>7</td>
      <td>TheAxiom</td>
      <td>pass</td>
      <td>30105</td>
      <td>5</td>
      <td>congratulations on getting the correct answer!</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Deus_Ex_Machina</td>
      <td>pass</td>
      <td>31429</td>
      <td>1</td>
      <td>congratulations on getting the correct answer!</td>
    </tr>
    <tr>
      <td>9</td>
      <td>_rp_cc_sqrt_2_</td>
      <td>pass</td>
      <td>33241</td>
      <td>5</td>
      <td>congratulations on getting the correct answer!</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Gate42</td>
      <td>pass</td>
      <td>34269</td>
      <td>4</td>
      <td>congratulations on getting the correct answer!</td>
    </tr>
    <tr>
      <td>11</td>
      <td>moyan</td>
      <td>pass</td>
      <td>34902</td>
      <td>5</td>
      <td>congratulations on getting the correct answer!</td>
    </tr>
    <tr>
      <td>12</td>
      <td>jiji</td>
      <td>pass</td>
      <td>40715</td>
      <td>4</td>
      <td>congratulations on getting the correct answer!</td>
    </tr>
    <tr>
      <td>13</td>
      <td>xenoicwyce</td>
      <td>pass</td>
      <td>41556</td>
      <td>3</td>
      <td>congratulations on getting the correct answer!</td>
    </tr>
    <tr>
      <td>14</td>
      <td>E_bits</td>
      <td>pass</td>
      <td>44234</td>
      <td>3</td>
      <td>congratulations on getting the correct answer!</td>
    </tr>
    <tr>
      <td>15</td>
      <td>Untitled_NTU_Team</td>
      <td>pass</td>
      <td>44421</td>
      <td>1</td>
      <td>congratulations on getting the correct answer!</td>
    </tr>
    <tr>
      <td>16</td>
      <td>EPFL_Elias</td>
      <td>pass</td>
      <td>48675</td>
      <td>1</td>
      <td>congratulations on getting the correct answer!</td>
    </tr>
    <tr>
      <td>17</td>
      <td>rainy_day_hackers</td>
      <td>pass</td>
      <td>49156</td>
      <td>3</td>
      <td>congratulations on getting the correct answer!</td>
    </tr>
    <tr>
      <td>18</td>
      <td>Guardians_of_the_Hilbert_Space</td>
      <td>pass</td>
      <td>49656</td>
      <td>1</td>
      <td>congratulations on getting the correct answer!</td>
    </tr>
    <tr>
      <td>19</td>
      <td>qwalkers</td>
      <td>pass</td>
      <td>51734</td>
      <td>3</td>
      <td>congratulations on getting the correct answer!</td>
    </tr>
    <tr>
      <td>20</td>
      <td>Quemix</td>
      <td>pass</td>
      <td>53846</td>
      <td>2</td>
      <td>congratulations on getting the correct answer!</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Toffoli Pizza</td>
      <td>pass</td>
      <td>54335</td>
      <td>1</td>
      <td>congratulations on getting the correct answer!</td>
    </tr>
    <tr>
      <td>22</td>
      <td>konbini_optimizer</td>
      <td>pass</td>
      <td>71055</td>
      <td>1</td>
      <td>congratulations on getting the correct answer!</td>
    </tr>
    <tr>
      <td>23</td>
      <td>81ueman</td>
      <td>pass</td>
      <td>120864</td>
      <td>4</td>
      <td>congratulations on getting the correct answer!</td>
    </tr>
    <tr>
      <td>24</td>
      <td>SpoonBoyAndThePotentials</td>
      <td>pass</td>
      <td>382165</td>
      <td>2</td>
      <td>congratulations on getting the correct answer!</td>
    </tr>
    <tr>
      <td>25</td>
      <td>Amory</td>
      <td>fail</td>
      <td>None</td>
      <td>1</td>
      <td>you are doing a great job, but answers were incorrect.</td>
    </tr>
    <tr>
      <td>25</td>
      <td>B3noRum</td>
      <td>fail</td>
      <td>None</td>
      <td>3</td>
      <td>you are doing a great job, but answers were incorrect.</td>
    </tr>
    <tr>
      <td>25</td>
      <td>ERIQC</td>
      <td>fail</td>
      <td>None</td>
      <td>5</td>
      <td>you are doing a great job, but answers were incorrect.</td>
    </tr>
    <tr>
      <td>25</td>
      <td>Keiichiro_Higa</td>
      <td>fail</td>
      <td>None</td>
      <td>1</td>
      <td>you are doing a great job, but answers were incorrect.</td>
    </tr>
    <tr>
      <td>25</td>
      <td>MLgoQuantum</td>
      <td>fail</td>
      <td>None</td>
      <td>1</td>
      <td>you are doing a great job, but answers were incorrect.</td>
    </tr>
    <tr>
      <td>25</td>
      <td>NGC</td>
      <td>fail</td>
      <td>None</td>
      <td>1</td>
      <td>you are doing a great job, but answers were incorrect.</td>
    </tr>
    <tr>
      <td>25</td>
      <td>Poleman</td>
      <td>fail</td>
      <td>None</td>
      <td>5</td>
      <td>you are doing a great job, but answers were incorrect.</td>
    </tr>
    <tr>
      <td>25</td>
      <td>Schrodingers_Cube_It</td>
      <td>fail</td>
      <td>None</td>
      <td>1</td>
      <td>you are doing a great job, but answers were incorrect.</td>
    </tr>
    <tr>
      <td>25</td>
      <td>Woody</td>
      <td>fail</td>
      <td>None</td>
      <td>1</td>
      <td>you are doing a great job, but answers were incorrect.</td>
    </tr>
    <tr>
      <td>25</td>
      <td>ZedFastMappers</td>
      <td>fail</td>
      <td>None</td>
      <td>1</td>
      <td>you are doing a great job, but answers were incorrect.</td>
    </tr>
    <tr>
      <td>25</td>
      <td>ccrgroup</td>
      <td>fail</td>
      <td>None</td>
      <td>2</td>
      <td>you are doing a great job, but answers were incorrect.</td>
    </tr>
    <tr>
      <td>25</td>
      <td>coscos</td>
      <td>fail</td>
      <td>None</td>
      <td>1</td>
      <td>you are doing a great job, but answers were incorrect.</td>
    </tr>
    <tr>
      <td>25</td>
      <td>mellamokyle</td>
      <td>fail</td>
      <td>None</td>
      <td>1</td>
      <td>you are doing a great job, but answers were incorrect.</td>
    </tr>
    <tr>
      <td>25</td>
      <td>twcoloring</td>
      <td>fail</td>
      <td>None</td>
      <td>1</td>
      <td>you are doing a great job, but answers were incorrect.</td>
    </tr>
  </tbody>
</table>

# Special Oracle Award
Some teams' initialization was partially incomplete and unable to generate equal probability distributions for the correct answers. However, among these teams, some came up with very creative oracles to solve the problem and reduce quantum cost. We would like to recognize these teams and award them with Special Oracle Awards.

<table border="1" class="dataframe" width="100%">
  <thead>
    <tr style="text-align: right;">
      <th>Special Oracle Award</th>
      <th>team_name</th>
      <th>status</th>
      <th>cost</th>
      <th>number_of_submission</th>
      <th width="40%">message</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Costs___100k</td>
      <td>initialization partially incomplete</td>
      <td>≈15737</td>
      <td>13</td>
      <td>you got the correct answers but Grover implementation is incomplete.</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Sorin</td>
      <td>initialization partially incomplete</td>
      <td>≈21667</td>
      <td>5</td>
      <td>you got the correct answers but Grover implementation is incomplete.</td>
    </tr>